*{
    padding: 0;margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    max-width: 1140px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.flex{
    display: flex;
}
.d-flex{
    display: flex;
    flex-direction: row;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.gap-40{
    gap: 40px;
}
.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.px-32{
    padding-left: 32px;
    padding-right: 32px;
}
.text-black{
    color: black;
}
.cursor{
    cursor: pointer;
}
.disable{
    cursor: not-allowed;
}
.bgred{
    background-color: red;
}